<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/navar :: head"></head>
<body>
	<header th:replace="layout/navar :: header"></header>
	<div class="container mt-3">
		<div class="card mt-3">
			<div id="headercard" class="card-header bg-primary mb-3">TITULO</div>
			<div class="card-body mt-3">
				<h5 class="card-title">CONTENIDO</h5>
				<form >
					<div class="row">
						<div class="col">
							
						</div>

					</div>
				</form>
				
			</div>
		</div>

	</div>


	<footer th:replace="layout/navar :: footer"></footer>
</body>
</html>